@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

[data-component="ConsolePage"] {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0px 8px;

  & > div {
    flex-shrink: 0;
  }

  .content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;

    .logo-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo-left,
      .logo-right {
        height: 50px; /* Adjust as needed */
        width: auto;
      }

      .logo-right {
        margin-left: auto; /* Push the right logo to the far right */
      }
    }

    .content-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-top: 10px; /* Add space between logos and title */
      font-family: "Fraunces", serif; /* Specific font */

      .highlight-word {
        color: #5e00ff; /* Specific color for the highlighted word */
      }
    }
  }

  .content-main {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center; /* Vertically align center */
    flex-direction: column; /* Arrange in column */
    padding: 20px;
  }

  .status-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conversation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: -30px; /* Move the entire section up */
  }

  .status-icon {
    margin-bottom: 30px; /* Add space between the icon and the sound waves */
    img {
      width: 500px; /* Increase size of the PNG */
      height: auto; /* Maintain aspect ratio */
    }
  }

  .mini-visualization {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0; /* Reset the top margin so the sound waves are directly under the icon */

    .visualization-entry {
      width: 200px; /* Increase the size of sound waves */
      height: 60px; /* Increase the height of the visualization */
      
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }

  .actions-container {
    display: flex;
    justify-content: center; /* Move the connect button to the extreme right */
    width: 100%; /* Make sure it stretches to the entire width */
    padding-right: 20px;
    margin-top: 20px; /* Add margin to move the button down */
  }

  .content-actions-right {
    display: flex;
    align-items: center;
  }

  .copy-container {
    text-align: left;
    font-size: 12px;
    color: #000;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc; /* Optional: adds a top border to separate */
  }
}
